# User dependand files related to the userinterface state
*/xcuserdata/*
*/xcuserdata/*/*
*/xcuserdata/*/*/*

*/*/xcuserdata/*
*/*/xcuserdata/*/*
*/*/xcuserdata/*/*/*

*/*/*/xcuserdata/*
*/*/*/xcuserdata/*/*
*/*/*/xcuserdata/*/*/*

# The junk
.DS_Store
*/.DS_Store
*/*/.DS_Store
*/*/*/.DS_Store
*/*/*/*/.DS_Store
*/*/*/*/*/.DS_Store
*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/*/*/*/*/*/*/.DS_Store
*.xccheckout
