<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Disabled</key>
    <false/>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>com.catalinstan.test-fcgikit</string>
    <key>LaunchOnlyOnce</key>
    <true/>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/catalin/Sites/fcgi/TestBundle.bundle/Contents/MacOS/Test-FCGIKit</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>ServiceDescription</key>
    <string>Test FCGIKit Application</string>
    <key>StandardErrorPath</key>
    <string>/Users/catalin/Sites/fcgi/TestBundle.log</string>
</dict>
</plist>
